@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Guess The Flag!</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="FlagDecks" asp-action="Choose">
        <h2 class="display-6">Klik hier!</h2>
    </a>
</div>
