@{
	ViewData["Title"] = "Quiz aan het maken.";
}

<style>
	.hidden {
		display: none;
	}

	#flagForm, #customFormGroup {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
	}
	
	#flagForm > * {
		margin: 5px;
	}

	#flagImg {
		max-width: 300px;
		max-height: 300px;

		border-radius: 20px;
	}

	.answer-correct {
		color: green;
	}

	.answer-incorrect {
		color: red;
	}
</style>

<section id="section-quiz">
	<h1 id="quizTitle">Quiz is aan het laden...</h1>


	<form id="flagForm" onsubmit="event.preventDefault(); answerQuestion();">
		<img id="flagImg" src="" />

		<div id="customFormGroup" class="form-group">
			<label for="answerInput">Antwoord</label>
			<input id="answerInput" class="form-control" />
		</div>

		<button class="btn btn-primary btn-lg" type="submit">Bevestig</button>
		<button class="btn btn-secondary btn-sm" type="button" onclick="skipQuestion();">Overslaan</button>
	</form>
</section>

<section id="section-end" class="hidden">
	<h1>Je hebt de quiz doorlopen!</h1>

	<form id="flagForm" onsubmit="event.preventDefault(); postScore();">
		<h1 id="result-text"></h1>
		<div id="customFormGroup" class="form-group">
			<label for="achievedByName">Jouw naam:</label>
			<input id="achievedByName" class="form-control" />
		</div>

		<button class="btn btn-primary btn-lg" type="submit">Bevestig</button>
	</form>
</section>



<script defer src="/js/quiz.js"></script>
